.button {
    -fx-background-color: #f1f1f1;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-family: 'Inter Bold';
    -fx-font-size: 15px;
}

.button: hover {
    -fx-background-color: #efefef;
}